[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 60305796+danielwzyang@users.noreply.github.com
	name = Daniel Yang
